@page "/Portal"
@model beeOSferaWeb.Pages.Portal.PortalModel

@{
    Layout = "_Layout";
    ViewData["Title"] = "Portal";
}

<style>

    .image-container {
        display: grid;
        place-content: center;
        height:100vh;
    }
</style>

<body>
    <div class="image-container">
        <img src="~/images/images/beeOSfera_Logremovebg-preview 1.png" alt="Alternate Text" style="width: 24rem;" />
    </div>
</body>
    
